.category {
    padding: 55px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    width: 50px;
    color: #696969;
    background: #fff;
    font-size: 18px;
    border: 1px solid rgba(1, 1, 1, .3);
    border-bottom-right-radius: 5px;
}
.homePage {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    /* background: #bebef4; */
}

.home h3 {
    display: flex;
    align-self: end;
    width: 14px;
    margin-left: 50px;
}
